# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# ClojureDart
.cpcache/
.clojuredart/
lib/cljd-out/
test/cljd-out/

# ClojureDart
.cpcache/
.clojuredart/
lib/cljd-out/
test/cljd-out/

# ClojureDart
.cpcache/
.clojuredart/
lib/cljd-out/
test/cljd-out/
.idea/
.metadata
.nrepl-port
*.iml
*.env*