{:paths ["src"] ; where your cljd files will live
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        tensegritics/clojuredart
        {:git/url "git@github.com:tensegritics/ClojureDart.git"
         ; or  "https://github.com/tensegritics/ClojureDart.git"
         :sha "0e1ef256cf3a0ee9b71db6d4af3d8be581b95195"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main deezpensa.core}}